.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 100%;
  padding: 32px;
  width: 464px;
}
.storeLink {
  background-image: linear-gradient(135deg, #f5bc0e, #fe6e60, #7360fe, #4ac2f5);
  color: #999;
  display: block;
  margin-bottom: 48px;
  padding: 5px;
  text-decoration: none;
  width: 100%;
}
.storeLinkContent {
  background-color: #292929;
  display: block;
  padding: 40px;
  text-align: center;
}
.storeLinkTitle {
  color: #ffffff;
  font-size: 24px;
  font-weight: 900;
  margin: 0 0 16px 0;
  text-align: center;
}
.storeLinkWr {
  margin-left: -0.44em;
}
.googlePlay {
  display: block;
  margin: 40px auto 0 auto;
  width: 200px;
}
.googlePlayImage {
  border-radius: 4px;
  max-width: 100%;
}
.paragraph {
  line-height: 1.5;
  margin: 0 0 24px 0;
  text-align: center;
}