/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/app/page.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
.page_content__kDoxQ {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 100%;
  padding: 32px;
  width: 464px;
}
.page_storeLink__Ge1M6 {
  background-image: linear-gradient(135deg, #f5bc0e, #fe6e60, #7360fe, #4ac2f5);
  color: #cccccc;
  display: block;
  margin-bottom: 48px;
  padding: 5px;
  text-decoration: none;
  width: 100%;
}
.page_storeLinkContent__I_jVV {
  background-color: #292929;
  display: block;
  padding: 40px;
  text-align: center;
  position: relative;
  z-index: 1;
}
.page_storeLinkBackground__QiAVw {
  height: 100%;
  width: 100%;
  background-image: url(/_next/static/media/clouds.fd5fba5f.png);
  background-position: left 50%;
  background-repeat: no-repeat;
  background-size: cover;
  filter:brightness(0.35);
  image-rendering: -webkit-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.page_storeLinkTitle__I86ox {
  color: #ffffff;
  font-size: 24px;
  font-weight: 900;
  margin: 0 0 16px 0;
  text-align: center;
}
.page_storeLinkWr__rbJeU {
  margin-left: -0.44em;
}
.page_googlePlay__UaQvF {
  display: block;
  margin: 40px auto 0 auto;
  width: 200px;
}
.page_googlePlayImage__GoJdW {
  border-radius: 4px;
  max-width: 100%;
}
.page_paragraph__9zKO8 {
  line-height: 1.5;
  margin: 0 0 24px 0;
  text-align: center;
}
